.navitem {
  transition: transform 0.3s ease;
}
.navitem:hover {
  transform: scale(1.05)
}

.page-header {
  min-height: 110px; /* adjust this value to your desired height */
  max-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

.logo-bg {
  background-image: url('/src/assets/logos/BDLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.95); /* semi-transparent overlay */
  background-blend-mode: lighten; 
}

.hidden {
  display: none;
}

.songcard-link {
  transition: transform 0.3s ease;
}
.songcard-link:hover {
  transform: scale(1.02)
}

.ranges {
  letter-spacing: normal;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.photo-strip {
  display: flex;
  flex-direction: column;
  gap: 8px; /* space between images */
  padding: 8px;
  background-color: white;
  border: 2px solid black;
  width: fit-content;
  transform: rotate(10deg);
}

.photo-strip-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ccc;
}


#footer {
  margin-top: auto;
}

.footer-icon {
  height: 30px;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.2);
}


@font-face {
  font-family: Maharlika;
  src: url(../src/assets/fonts/Maharlika-Regular.ttf);
}

.serif-font {
  font-family: Maharlika, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url(../src/assets/fonts/GlacialIndifference-Regular.otf);
}

.sans-font-reg {
  font-family: GlacialIndifference-Regular, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: GlacialIndifference-Bold;
  src: url(../src/assets/fonts/GlacialIndifference-Bold.otf);
}

.sans-font-bold {
  font-family: GlacialIndifference-Bold, Verdana, Geneva, Tahoma, sans-serif;
}